/**
 *
 * '||''|.                            '||
 *  ||   ||    ....  .... ...   ....   ||    ...   ... ...  ... ..
 *  ||    || .|...||  '|.  |  .|...||  ||  .|  '|.  ||'  ||  ||' ''
 *  ||    || ||        '|.|   ||       ||  ||   ||  ||    |  ||
 * .||...|'   '|...'    '|     '|...' .||.  '|..|'  ||...'  .||.
 *                                                  ||
 * --------------- By Display:inline ------------- '''' -----------
 *
 * Login pages stylesheet
 */
html {
	min-height: 100%;
}
body {
	text-align: center;
	color: white;
}

/* Layout */
#container {
	/*width: 480px;*/
	padding: 0 20px;
	margin: 0 auto;
	text-align: left;
	padding-top: 55px;
	}
	#container input {
		width: 212px;
	}
	#container input[type="radio"],
	#container input[type="checkbox"] {
		width: auto !important;
	}
	#container input[type="text"],
	#container input[type="password"] {
		-webkit-appearance: none;
	}



/*768px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 768px) {

	html {
		height: auto;
		min-height: 100%;
		overflow: auto;
		}
		html.js-login {
			height: 100%;
			overflow: hidden;
		}
	body {
		height: auto;
		overflow: auto;
		}
		.js-login body {
			height: 100%;
			overflow: hidden;
		}

	/* Animation styles */
	.js-login #container {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 0;
		margin-left: -140px;
	}

}/*/mediaquery*/

/*2x __________________________________________________________________________________________________________ */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {



}/*/mediaquery*/